html
  head
    title The God Underneath
    link(href='css/css.css', rel='stylesheet')    
  body
    script(src='socket.io/socket.io.js')
    script(src='lib/pixi.dev.js')
    script(src='lib/jquery-2.1.0.min.js')

    script(src='js/main.js')
    script(src='js/network.js')
  