html
  head
    title The God Underneath
    link(href='css/css.css', rel='stylesheet')    
  body
    script(src='socket.io/socket.io.js')
    script(src='lib/jquery-2.1.0.min.js')

    script(src='js/common.js')
    script(src='js/cursor.js')
    script(src='js/goal.js') 
    script(src='js/lifebar.js') 
    script(src='js/network.js') 
    script(src='js/otherPlayers.js') 
    script(src='js/player.js')
    script(src='js/resources.js')
    script(src='js/tile.js')
    script(src='js/world.js')
    script(src='js/main.js')
  
    h1#info
  
    canvas#game(width='512px', height='392px')
        
    h2#gameMode