@font-face {
    font-family: "andvari";
    src: url('../res/andvari.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  text-align:center;
}

#game {
	background:#ADD8E6;
}

#gamePlay {
  display:none;
}
h1, h2, h3, p {
  font-family: "andvari";
  color: white;
}

#introduction {
  font-family: "andvari";
}
